.counter2{
    margin-top: 907px;
    direction: flex;
    flex: 1 1 auto;
    flex-basis: content;
    flex-direction: row;
    width:50%;
    height: 1%;

}
.counter1{
    margin-top: 0px;
    color: #818181;
}

.counterB{
    margin-left: 50%;
    display: flex;
    margin-top: -22%;

}
.sum{
padding-top: 15%;
}